body {
    font-family: "Garamond", "Tiempos Text", "Futura", sans-serif;
    background-color: #0D7680;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#header {

}

.footer-section {
    background-color: #2f2f2f;
    float: left;
    text-align: center;
    width: 25%;
}

body div {
    background-color: #F2DFCE;
    margin: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header-title {
    font-size: 20px;
    padding: 10px;
}